<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700|Lato:300,400,900&display=swap" rel="stylesheet">
    <title>Nes Style Limited</title>
    <meta name="description" content="Denim, clothing and accessories company based in London and Dhaka.">
    <meta property="og:title" content="Nes Style Limited">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Denim, clothing and accessories company based in London and Dhaka.">
    <meta property="og:image" content="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1572892241/shutterstock_609949727.jpg">
    <meta property="og:url" content="http://nes-style.co.uk">
    <meta property="og:site_name" content="Nes Style Limited">
    <meta name="twitter:title" content="Nes Style Limited">
    <meta name="twitter:description" content="Denim, clothing and accessories company based in London and Dhaka.">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/ddwuu1y0i/image/upload/v1572892241/shutterstock_609949727.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= render 'shared/footer' %>
  </body>
</html>
